@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Conference Class Scheduler</h1>
    <p class="lead">Please log in and select the classes you would like to attend at the upcoming conference!</p>
    <p><a href="http://localhost:10029/login" class="btn btn-primary btn-lg">Log In! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>
            Once logged in, click the button below to view all the courses we have to offer!.
        </p>
        <p><a class="btn btn-default" href="http://localhost:10029/Course">View Courses &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need to view your current classes?</h2>
        <p>Select the button below to view the classes you are currently enrolled in.</p>
        <p><a class="btn btn-default" href="http://localhost:10029/ShoppingCart">View Enrolled classes &raquo;</a></p>
    </div>
</div>